.vscode/settings.json
.vscode/settings.json
*.json
*.json
.vscode/settings.json
.idea/workspace.xml
.idea/Python.iml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/vcs.xml
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
