.code, .kodSor {
    background-color: #1b1b1b;
    color:#ddd;
    padding: 1rem;
    border-radius: 0.5rem;
}

.kodSor {
    background-image: linear-gradient( #1d2836,  #2c3b4e 30%);
    color:rgb(218, 255, 253);
}

.tab{
    padding-left: 1.5rem;
}

.new{
    border-color: rgb(224, 219, 194);
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(rgb(255, 250, 225), rgb(250, 210, 161) 80%, rgb(255, 250, 225));
    padding: 0.5rem 1.5rem;
    margin-left: -0.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}
